.loginpage-container{
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 760px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.loginpage-container .arrow-container{
    justify-content: left;
    width: 100%;
    margin-left: 10%;
    transition: filter 0.3s;
}

.loginpage-container .arrow-container:hover{
    filter: brightness(75%);
    cursor: pointer;
}

.loginpage-container .logo-arrow{
    font-size: 35px;
    color: #B6B1AC
}

.loginpage-container img{
    position: relative;
    margin-top: 50px;
    display: block;
}

.loginpage-container h1{
    font-size: 23px;
}

.loginpage-container p{
    font-size: 16px;
}

@media (min-width: 760px){
    .loginpage-container{
        margin-top: 25px;
    }
}
