.loginpage-container{
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    /* max-width: 500px;
    width: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}