body{
    background-color: #f5f5f5;
}

.sacarCreditos-container{
    position: absolute;
    top: 5%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    display: flex;
    max-width: 500px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    justify-content: center;
}

.sacarCreditos-container .arrow-container{
    justify-content: left;
    width: 100%;
    transition: filter 0.3s;
}

.sacarCreditos-container .arrow-container:hover{
    filter: brightness(75%);
    cursor: pointer;
}

.sacarCreditos-container .logo-arrow{
    font-size: 35px;
    color: #B6B1AC
}

.sacarCreditos-container h2{
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.sacarCreditos-container p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}

.sacarCreditos-container span{
    font-size: 15px;
    font-weight: 600;
    color: #b6b1ac;
}

.sacarCreditos-container .sacar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 40px;
}

.sacarCreditos-container .sacar input{
    height: 28px;
    width: 47%;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}

.sacarCreditos-container .sacar select{
    width: 47%;
    height: 28px;
    background-color: #fff;
}

.sacarCreditos-container .sacar select option{
    text-align: center;
}

.sacarCreditos-container button{
    background-image: linear-gradient(to left, #73F689, #CBFF8C);
    width: 100%;
    max-width: 500px;
    height: 28px;
    border-radius: 4px;
    transition: filter 0.3s;
    outline: none;
    color: #4b4947;
    margin-top: 10px;
}

.sacarCreditos-container button:hover{
    filter: brightness(75%);
}

@media (min-width: 500px){
    .sacarCreditos-container{
        margin-top: 25px;
    }
}
