.register-container{
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 760px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.register-container .arrow-container{
    justify-content: left;
    width: 100%;
    margin-left: 10%;
    transition: filter 0.3s;
}

.register-container .arrow-container:hover{
    filter: brightness(75%);
    cursor: pointer;
}

.register-container .logo-arrow{
    font-size: 35px;
    color: #B6B1AC
}

.check-container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items:center;
    justify-content: left;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 50px;
}

.check-container input{
    display: inline-block;
    margin-right: 10px;
    height: 24px;
    width: 24px;
}

.check-container p{
    font-size: 14.6px;
}