.buttongreen-container{
    width: calc(100% - 60px);
    margin-bottom: 20px;
}

.buttongreen-container button{
    background-image: linear-gradient(to right, #73F689, #CBFF8C);
    width: 100%;
    max-width: 500px;
    height: 58px;
    margin-top: 20px;
    border-radius: 29px;
    transition: filter 0.3s;
    outline: none;
}

.buttongreen-container button:hover{
    filter: brightness(75%);
}