.receberCreditos-container{
    position: absolute;
    top: 5%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    display: flex;
    max-width: 760px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    justify-content: center;
}

.receberCreditos-container .arrow-container{
    justify-content: left;
    width: 100%;
    transition: filter 0.3s;
}

.receberCreditos-container .arrow-container:hover{
    filter: brightness(75%);
    cursor: pointer;
}

.receberCreditos-container .logo-arrow{
    font-size: 35px;
    color: #B6B1AC
}

.receberCreditos-container h2{
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.receberCreditos-container p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}

.receberCreditos-container .receber{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.receberCreditos-container .receber p{
    height: 28px;
    width: 80%;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    margin-top: 0;
}

.receberCreditos-container .receber button{
    background-image: linear-gradient(to left, #73F689, #CBFF8C);
    width: 15%;
    max-width: 760px;
    height: 28px;
    border-radius: 4px;
    transition: filter 0.3s;
    outline: none;
    color: #4b4947;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.receberCreditos-container .receber button:hover{
    filter: brightness(75%);
}

@media (min-width: 760px){
    .receberCreditos-container{
        margin-top: 25px;
    }
}
