.clientPage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clientPage-container .cartao-container{
    max-width: 760px;
    margin-top: 20px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.clientPage-container .cartao-container section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    height: 46px;
    background-color: #fff;
}

.clientPage-container .cartao-container section p{
    margin-left: 10px;
}