@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: 'Montserrat'
}

h1, h2, h3, h4, p, span{
  font-family: 'Montserrat';
  color: #4b4947;
}

button, input{
  outline: none;
}